In [1]:
import pandas as pd

In the last notebook, we looked at how filtering works in Pandas. In this notebook, we explore Updating DataFrames in Pandas, by modifying the data within rows and/or columns.

As usual, we start by creating a dictionary in pure Python and then turning it into a Pandas DataFrame to see how to apply changes on a smaller DataFrame, before moving to a bigger real-world example:

In [2]:
people = {'First name': ['Adam', 'John', 'Jake', 'Jane'],
         'Last name': ['Smith', 'Doe', 'Doe', 'Snow'],
         'Email': ['adamsmith@gmail.com', 'johndoe@notreally.com', 'jakedoe@notawebsite.org', 'janesnow@mail.com']}

In [3]:
people_df = pd.DataFrame(people)

In [4]:
people_df

  First name Last name                    Email
0       Adam     Smith      adamsmith@gmail.com
1       John       Doe    johndoe@notreally.com
2       Jake       Doe  jakedoe@notawebsite.org
3       Jane      Snow        janesnow@mail.com

Let's say we want to update our columns.

We might want to look at our columns before we do that, which we can do using:

In [5]:
people_df.columns

Index(['First name', 'Last name', 'Email'], dtype='object')

Let's say we want to rename our columns or make them into a different format. One way we could achieve this is:

In [6]:
people_df.columns = ['first_name', 'last_name', 'email']

In [7]:
people_df

  first_name last_name                    email
0       Adam     Smith      adamsmith@gmail.com
1       John       Doe    johndoe@notreally.com
2       Jake       Doe  jakedoe@notawebsite.org
3       Jane      Snow        janesnow@mail.com

As we can see, we can change the names of our columns by changing the columns attribute of our DataFrame object and passing a list of our desired new names to it.

Now, this might be suitable for the times we want to completely rename all of our columns at once, but it does require us to pass in all the new columns' names.

More often, we're going to want to change  only a specific column's name, or maybe a few column's names at once, or maybe we will want to apply some formatting change to all columns' names at the same time

A quick way to apply formatting changes to all columns' names is using Python's **list comprehension**.

Let's see how we might apply this here, by first turning all of our column's names from lowercase to uppercase:

In [8]:
people_df.columns = [x.upper() for x in people_df.columns]

In [9]:
people_df

  FIRST_NAME LAST_NAME                    EMAIL
0       Adam     Smith      adamsmith@gmail.com
1       John       Doe    johndoe@notreally.com
2       Jake       Doe  jakedoe@notawebsite.org
3       Jane      Snow        janesnow@mail.com

We can see that it works fine. Let's now replace the underscores in the column's names with spaces for a more natural format:

In [10]:
people_df.columns.str.replace("_", " ")
people_df

  FIRST_NAME LAST_NAME                    EMAIL
0       Adam     Smith      adamsmith@gmail.com
1       John       Doe    johndoe@notreally.com
2       Jake       Doe  jakedoe@notawebsite.org
3       Jane      Snow        janesnow@mail.com

**Note: Using ".str" on our columns Series let's us apply string manipuulation methods. This is an alternative to using list comprehension, and it looks cleaner.**

Finally, let's go back to camel casing:

In [11]:
people_df.columns = [x.title() for x in people_df]
people_df

  First_Name Last_Name                    Email
0       Adam     Smith      adamsmith@gmail.com
1       John       Doe    johndoe@notreally.com
2       Jake       Doe  jakedoe@notawebsite.org
3       Jane      Snow        janesnow@mail.com

Now, when we want to change only a specific column's name, or a few column's names at once, but not all columns' names, we can do this using:

In [12]:
people_df.rename(columns={'First_Name': 'First', 'Last_Name': 'Last'}, inplace=True)
people_df

  First   Last                    Email
0  Adam  Smith      adamsmith@gmail.com
1  John    Doe    johndoe@notreally.com
2  Jake    Doe  jakedoe@notawebsite.org
3  Jane   Snow        janesnow@mail.com

As we can see, using the **".rename"** method within our DataFrame let's us pass a dictionary of the mapping of old columns' names that we would like to change to the new names we would like to use. **Note: don't forget to use the "columns" flag before passing the dictionary.**

Now that we've seen how we can update columns' names, let's look at how to update rows' names.

Let's start by looking at _completely_ changing a single row:

In [13]:
people_df.loc[2] = ['G', 'Adamson', 'g.adamson@gmail.com']
people_df

  First     Last                  Email
0  Adam    Smith    adamsmith@gmail.com
1  John      Doe  johndoe@notreally.com
2     G  Adamson    g.adamson@gmail.com
3  Jane     Snow      janesnow@mail.com

To only change one or a few columns:

In [14]:
people_df.loc[2, ['Last', 'First']] = 'Doe', 'Jake'
people_df

  First   Last                  Email
0  Adam  Smith    adamsmith@gmail.com
1  John    Doe  johndoe@notreally.com
2  Jake    Doe    g.adamson@gmail.com
3  Jane   Snow      janesnow@mail.com

As we can see, we can use Pandas' **loc** function's ability to access multiple columns within a specific row to change these columns and set new values to them, and the same thing applies to a single column, naturally.

Now, let's say we have a large dataset, and would like to find a single person, say, "John Doe" within this dataset, and then change his last name to "Smith". For that, we can create a filter to find this person, and then update his last name:

In [15]:
filter_ = (people_df['Last'] == 'Doe') & (people_df['First'] == 'John')
people_df.loc[filter_, 'Last'] = 'Smith'
people_df

  First   Last                  Email
0  Adam  Smith    adamsmith@gmail.com
1  John  Smith  johndoe@notreally.com
2  Jake    Doe    g.adamson@gmail.com
3  Jane   Snow      janesnow@mail.com

Similarly to what we've been doing so far, we can apply a certain change to an entire column by simply using:

In [16]:
people_df['Email'] = people_df['Email'].str.title()
people_df

  First   Last                  Email
0  Adam  Smith    Adamsmith@Gmail.Com
1  John  Smith  Johndoe@Notreally.Com
2  Jake    Doe    G.Adamson@Gmail.Com
3  Jane   Snow      Janesnow@Mail.Com

As we notice, the Email column casing got changed to camel casing.

Next. let's look at some built-in functions within Pandas, which help us update multiple rows at once:

First, we have **apply**, which can be used to apply a certain function (and therefore change) to all selected cells. For instance:

In [17]:
people_df['Email'].apply(len)

0    19
1    21
2    19
3    17
Name: Email, dtype: int64

The above code summons (as expected) the "Email" column, and applies the **len** function to each cell within it to find its length in characters.

Although the above example uses a simple function to showcase the abilities of **apply**, its true abilities reach far beyond that. We can define any function we desire within our code, and then use **apply** to make it apply to our selected cells! 

This should prove to be very useful in data analysis.

An example of this ability follows:

In [18]:
def change_email_domain(email):
    if 'Notreally' in email:
        email = email.replace('Notreally', 'mail')
    return email

Applying the above function to our Email column, we would expect it to affect row number 1, and keep all other emails the same way they are.

In [19]:
people_df['Email'].apply(change_email_domain)

0    Adamsmith@Gmail.Com
1       Johndoe@mail.Com
2    G.Adamson@Gmail.Com
3      Janesnow@Mail.Com
Name: Email, dtype: object

As we can see, this does indeed produce the effect we expected.

**Note: the apply method only shows us what the change would look like if it were to take place. For it to take place, we have to assign it to itself as an updated variable:**

In [20]:
people_df['Email'] = people_df['Email'].apply(change_email_domain)

In [21]:
people_df

  First   Last                Email
0  Adam  Smith  Adamsmith@Gmail.Com
1  John  Smith     Johndoe@mail.Com
2  Jake    Doe  G.Adamson@Gmail.Com
3  Jane   Snow    Janesnow@Mail.Com

One more thing to note about the **apply** method, is that we can combine it with lambda functions, for example:

In [22]:
people_df['Email'] = people_df['Email'].apply(lambda x: x.lower())
people_df

  First   Last                Email
0  Adam  Smith  adamsmith@gmail.com
1  John  Smith     johndoe@mail.com
2  Jake    Doe  g.adamson@gmail.com
3  Jane   Snow    janesnow@mail.com

We have been - so far - examining the effects of **apply** on Series. Let's now take a look at applying it to DataFrames:

In [23]:
people_df.apply(len)

First    4
Last     4
Email    4
dtype: int64

This produces the unexpected effect of applying **apply** to each series (column) within the DataFrame, meaning that we receive the number of values (the length, or how many rows have a value in this column) of each column.

A similar effect takes place when we use the flag **axis="columns"**, which means the **apply** function will wount how many values (how many columns) are in each row:

In [24]:
people_df.apply(len, axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

To further understand the effect of using **apply** on a DataFrame, we can use the example of applying **min**, which is a Pandas method used to present the lowest value within a given Series, or in case of text, the value which comes first in alphabetical order:

In [25]:
people_df.apply(pd.Series.min)

First                   Adam
Last                     Doe
Email    adamsmith@gmail.com
dtype: object

Once again, we notice how this presents us with the "minimum" value within each Series, which by default gives the minimum value of each column. We can also change the axis as we did in the previous example to get the "minimum" value within each row.

As we said before, we can use **lambda** functions within **apply**, which means the effect shown in the previous example can be reproduced in a different way:

In [26]:
people_df.apply(lambda x: x.min())

First                   Adam
Last                     Doe
Email    adamsmith@gmail.com
dtype: object

**So, to summarize:**

**Using apply on a Series applies it to every value within that Series, and using it on a DataFrame applies it to every Series within that DataFrame.**

So what do we do, when we want to apply a certain function to every value within an entire DataFrame? In these times, we can use **applymap**, which **only** works on DataFrames. To demonstrate how it works, we use the following example:

In [27]:
people_df.applymap(len)

   First  Last  Email
0      4     5     19
1      4     5     16
2      4     3     19
3      4     4     17

Now we see that we get **len** diretclty applied to each value within the DataFrame. We can already imagine the power of using such a method on a larger numerical dataset to create very useful filters.

We can also use **applymap** to make quick changes to textual datasets. For instance:

In [28]:
people_df

  First   Last                Email
0  Adam  Smith  adamsmith@gmail.com
1  John  Smith     johndoe@mail.com
2  Jake    Doe  g.adamson@gmail.com
3  Jane   Snow    janesnow@mail.com

In [30]:
people_df.applymap(str.lower)

  First   Last                Email
0  adam  smith  adamsmith@gmail.com
1  john  smith     johndoe@mail.com
2  jake    doe  g.adamson@gmail.com
3  jane   snow    janesnow@mail.com

**Note: If our dataset contained any numerical values, we would have received an error in the example above. That means we would have to create a more complex function which handles such cases in the case of a mixed dataset.**

**Note: one needs to update the variable containing the DataFrame for the applymap function's changes to actually take place, since using the flag "inplace=True" does not work here:**

In [34]:
people_df = people_df.applymap(str.lower)
people_df

  First   Last                Email
0  adam  smith  adamsmith@gmail.com
1  john  smith     johndoe@mail.com
2  jake    doe  g.adamson@gmail.com
3  jane   snow    janesnow@mail.com

Next, we're going to introduce the **map** methid, which **only** works on Series. The **map** method is used to replace multiple values (within a **Series**) with new specific values at once. For example:

In [35]:
people_df['First'].map({'adam': 'isaac', 'jake': 'jacob'})

0    isaac
1      NaN
2    jacob
3      NaN
Name: First, dtype: object

**Note: Aside from the shown changes not actually taking action automatically, we notice that any values which weren't included in our map dictionary have now been replaced by NaN (Not a Number). Applying such changes would get rid of the values which were in these cells previously, and replace them with NaN, which we might not want.**

**To avoid this effect, while still updating our desired values, we ca instead use Pandas' replace method:**

In [38]:
people_df['First'].replace({'adam': 'isaac', 'jake': 'jacob'})

0    isaac
1     john
2    jacob
3     jane
Name: First, dtype: object

**Note: This as well only views the effects of the propsed changes, but does not let it actually take place, however, we can see the other cells which were not included in our dictionary were not changed here.**

**For the changes to take place in the last 2 scenarios, and since the map method and the replace method only work on Series, we would need to update the effectd series:**

In [41]:
people_df['First'] = people_df['First'].replace({'adam': 'isaac', 'jake': 'jacob'})
people_df

   First   Last                Email
0  isaac  smith  adamsmith@gmail.com
1   john  smith     johndoe@mail.com
2  jacob    doe  g.adamson@gmail.com
3   jane   snow    janesnow@mail.com

----------------------------------------------------------------------------------------------------

Now, let's see how we might use what we've learned on the Stack Overflow dataset.

First, we load our files, then we change the default options of maximum visible rows and colums to 85 each:

In [42]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [43]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

Let's look at the head of our dataset again:

In [44]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In the last Notebook, we wanted to know what programing languages correlate with the highest salaries, and for that we used the "ConvertedComp" column, which gives th total compensation of the employee, converted to USD.

Let's assume we want to rename this column, so that it has a more memorable name.

We can use the **rename** method to do that:

In [45]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'})

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Other(s):,C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):,Firebase;SQLite,Firebase;MySQL;SQLite,Linux,Google Cloud Platform;Linux,jQuery,jQuery;Vue.js,Node.js,React Native;Unity 3D;Unreal Engine,Atom;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,What?,YouTube,NaN,Username,I don't remember,A few times per week,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,8,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift,DynamoDB;MariaDB;Microsoft SQL Server;MySQL,MariaDB;MySQL;Oracle;SQLite,iOS;Linux;MacOS;WordPress,Android;AWS;Google Cloud Platform;IBM Cloud or...,Django;jQuery;React.js,Django,Unity 3D;Unreal Engine,NaN,Android Studio;Atom;Eclipse;NetBeans;Notepad++...,Linux-based,Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,WhatsApp,In real life (in person),NaN,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

After checking the viewed effect, and making sure it mathes what we need, we can make the change take place by using the flag **"inplace=True"**, otherwise the effect will not take place.

Another thing we might want to do is to change some values within a column, for example. For instance, we have a "Hobbyist" column in this dataset, which has a value of either "yes" or "no".

We might want to perform some boolean operations on this column, and for that, we'll need to cast these values into boolean values.

For that, we can use either **map** if we want to completely get rid of any value that is neither "yes" or "no", like "Not sure" , for example, or we can use **replace** to prevent such values from being replaced with NaN.

Let's use replace here:

In [46]:
df['Hobbyist'].map({'Yes': True, 'No': False})

0         True
1        False
2         True
3        False
4         True
         ...
88878     True
88879    False
88880    False
88881    False
88882     True
Name: Hobbyist, Length: 88883, dtype: bool

As we noted before, neither **map** nor **replace** have an inplace flag option, which means that we'd need to update the column by assigning its updated version to its variable in order to let the changes take effect.